! ROFI Color theme
! ! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

Xft.dpi: 220
Xft.autohint: 0
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.rgba: rgb

URxvt.font: xft:Inconsolata:size=8


! Color 188; used by jellybeans for the "Normal" highlighting group (`:hi Normal`).
URxvt*.foreground:  #dfdfdf
! Completely black terminal background.  This differs from jellybeans.vim.
URxvt*.background:  #1c1c1c
URxvt*.cursorColor: #dfdfdf

! Black.
URxvt*.color0:      #000000
! Grey (color 244); used by jellybeans for the "Comment" highlighting group.
URxvt*.color8:      #808080

! Red (color 167); "Constant" highlighting group
URxvt*.color1:      #d75f5f
URxvt*.color9:      #d75f5f

! Red (color 88); "ErrorMsg" highlighting group
! URxvt*.color1:      #870000
! URxvt*.color9:      #870000

! Green (color 107); "String" highlighting group
URxvt*.color2:      #87af5f
URxvt*.color10:     #87af5f

! Yellow (color 222); "Function" highlighting group
URxvt*.color3:      #ffdf87
URxvt*.color11:     #ffdf87

! Blue (color 103); "Statement" highlighting group
URxvt*.color4:      #8787af
URxvt*.color12:     #8787af

! Magenta (color 162); "rubyRegexp" highlighting group
URxvt*.color5:      #d70087
URxvt*.color13:     #d70087

! Cyan (color 110); "Structure" highlighting group
URxvt*.color6:      #87afd7
URxvt*.color14:     #87afd7

! White (color 188); "Normal" highlighting group
URxvt*.color7:      #dfdfdf
URxvt*.color15:     #ffffff

URxvt.scrollBar               : false
URxvt*visualBell              : false

urxvt*transparent: true
urxvt*shading: 25 
urxvt*fading: 50 
